<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to the new world!!</h1>
    <a href="/pirates"> Click here</a> to see the list of pirates
    <a href="/ships"> Click here</a> to see the list of Ships
    
</body>
</html>